body {
  padding-left:50px;
  padding-right:50px;
  font: 1.5em "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.highlight .language-javascript .err {
  background-color: transparent;
  color: inherit;
}
